.ResetPasswordForm {
  margin-top: 8.6rem !important;

  .form-title {
    text-align: center !important;
    font-size: 3.4rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.76;
    letter-spacing: normal;
    text-align: left;
    color: #242323;
    margin-bottom: 2.3rem;
  }

  .ant-legacy-form-item {
    margin-bottom: 4px;
  }

  label {
    font-size: 1.2rem !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #a4b0b9 !important;
  }

  input {
    border: none;
    background: none;
    border-bottom: solid 1px #d9d9d9;
    border-radius: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #242323;
  }

  .input-row {
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
  }

  .reset-password-form-button {
    font-size: 1.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    min-width: 150px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reset-password-form-forgot {
    font-size: 1.4rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.32px;
    text-align: right;
    color: #0091ff;
    text-decoration: underline;
  }

  .reset-password-form-forgot-item {
    margin: 3.2rem 0 2.4rem 0;
  }

  .ant-legacy-form-item-label {
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  .ant-legacy-form-item-required::before {
    visibility: hidden;
  }
}
