.ResetPassword {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f6f7;
  .right-ctr {
    width: 100%;
    max-width: 618px;
    padding: 5.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main-ctr {
      .logo-ctr {
        text-align: center;
        img {
          width: 12.8rem;
        }
      }
    }
  }
  .footer-ctr {
    max-width: 100%;
  }
}
